@import '~bootstrap/scss/bootstrap';

:root {
    --purple-main: #cc99ff;
    --purple-dark: #7300e6;
    --purple-darker: #400080;
    --purple-text: #ccccff;
    --red-invalid: #cc0000;
}

body {
    font-family: 'Open Sans'
}

a {
    text-decoration: none;
    color: var(--purple-main);
}

.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(204,204,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    padding: 0;
  }
.navbar .btn.btn-link {
    color: #fff;
    text-decoration: none;
}
.navHeader {
    background-color: var(--purple-dark);
}
.navHeader a {
    color: var(--purple-text);
}
.navHeader a:hover, .navHeader a:focus {
    color: #fff;
}
.navbar-nav .nav-link.show {
    color: var(--purple-text);
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-nav .dropdown-menu {
    border-radius: 0;
    border-color: rgba(0,0,0,0);
    background-color: var(--purple-main);
}
.dropdown-menu {
    --bs-dropdown-min-width: 5.85rem
}
@media (min-width: 992px) {
    .nav-link {
        height: 70px;
        display: flex;
        align-items: center;
    }
    .navbar-nav .nav-link.show {
        color: #fff;
        background-color: var(--purple-darker);
    }
    .navbar-nav .dropdown-menu {
        top: 67px
    }
}

.container.movieslist .card {
    border-width: 0;
}

.invalid-feedback {
    color: var(--red-invalid);
}
.form-control {
    border-radius: 0;
}
.form-control:focus, .form-control.is-invalid:focus {
    box-shadow: none;
    border-color: var(--purple-darker)
}
.form-control.is-invalid {
    background-image: none;
    border-color: var(--red-invalid);
}

.button {
    border: none;
    color: #fff;
    padding: 10px 18px;
    font-size: 1.1rem;
    transition-duration: 0.4s;
}
.button.primary {
    background-color: var(--purple-main);
}
.button.primary:hover {
    background-color: var(--purple-dark);
}
.button.primary:active {
    background-color: var(--purple-darker);
}
.button.danger {
    background-color: var(--red-invalid);
}
.button.danger:hover {
    background-color: #800000;
}
