@import '~bootstrap/scss/bootstrap';

:root {
    --purple-main: #cc99ff;
    --purple-dark: #7300e6;
    --purple-darker: #400080;
    --purple-text: #ccccff;
    --red-invalid: #cc0000;
    --grey: #808080;
}

body {
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
    color: var(--purple-main);
}

.navbar .btn.btn-link {
    text-decoration: none;
}
.navHeader {
    display: none;
}
.mobile-nav-bg {
    background-color: var(--purple-dark);
}
.mobile-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: calc(1.5rem * 0.5);
    padding-left: calc(1.5rem * 0.5);
    margin-right: auto;
    margin-left: auto;
}
button.nav-link {
    text-align: left;
    color: var(--purple-text);
}
button.nav-link:hover, :not(.btn-check) + button.nav-link:active {
    background-color: transparent;
}
button.drop-toggle {
    background: none;
    border-width: 0;
}
button.drop-toggle .bi-list {
    color: #fff;
    width: 2rem;
    height: 2rem;
}
.mobile-nav .navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}
.drop-menu {
    flex-basis: 100%;
    flex-grow: 1;
}
.navHeader a, .navHeader a:hover, .navHeader a:focus,
.navbar .btn.btn-link, .mobile-nav a, .mobile-nav .nav-link:focus, .mobile-nav .navbar-brand:hover, .mobile-nav .navbar-brand:focus {
    color: var(--purple-text);
}
.navHeader a:hover, .navHeader a:focus, button.nav-link:hover {
    color: #fff;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}

.container.movieslist .card {
    border-width: 0;
}

.content {
    white-space: pre-wrap;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content .container {
    flex-grow: 1;    
}

.invalid-feedback {
    color: var(--red-invalid);
}
.form-control {
    border-radius: 0;
}
.form-control:focus, .form-control.is-invalid:focus {
    box-shadow: none;
    border-color: var(--purple-darker)
}
.form-control.is-invalid {
    background-image: none;
    border-color: var(--red-invalid);
}

.button {
    border: none;
    color: #fff;
    padding: 10px 18px;
    font-size: 1.1rem;
    transition-duration: 0.4s;
}
.button.primary {
    background-color: var(--purple-main);
}
.button.primary:hover {
    background-color: var(--purple-dark);
}
.button.primary:active {
    background-color: var(--purple-darker);
}
.button.danger {
    background-color: var(--red-invalid);
}
.button.danger:hover {
    background-color: #800000;
}
.button.secondary {
    background-color: var(--grey);
}
.button.secondary:hover {
    background-color: #666666;
}

.button, .modal-content {
    border-radius: 0;
}
.modal-header {
    border-bottom: none;
}
.modal-footer {
    justify-content: start;
    border-top: none;
}

.alert.alert-primary {
    border: none;
    border-radius: 0;
    background-color: var(--purple-main);
    color: #fff;
}
.alert.alert-primary .btn-close:focus {
    box-shadow: none;
}

footer {
    background-color: var(--grey);
    color: #dbdbd7;
}
footer a {
    color: #dbdbd7;
    text-decoration: underline;
}

@media (min-width: 992px) {
    .navHeader {
        display: block;
        background-color: var(--purple-dark);
    }
    .mobile-nav {
        display: none;
    }
    .nav-link {
        height: 70px;
        display: flex;
        align-items: center;
    }
    .navbar-nav .nav-link.show {
        color: #fff;
        background-color: var(--purple-darker);
    }
}
@media (min-width: 576px) {
    .mobile-nav {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .mobile-nav {
        max-width: 720px;
    }
}
